body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
   box-sizing: border-box;
}
.navbar-nav li a{
  color: white;
  font-weight: 600;
  display:center;
  text-align:center;
}
.navbar-brand{
  width: 5px;
  min-height: 5px;
}
#Cars-shipping{
  background-image:url("images/images/sale0.png");
  background-size: cover;
  background-repeat:no-repeat,repeat;

}
#Home{
  position: fixed;
  height:100vw;
}

#cars-shipping {
  position: fixed;
  height:100vw;
}

#Auto-Transport{
  min-height:100vw;
}







.testimonial{
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color: blue;">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item" style="background-color: red;">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item" style="background-color: green;">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
}


  


   





























